form {
    width: 100%;
    height: 100%;
    justify-self: right;
    align-self: center;
}

.modal-title {
    font-size: 22px;
}

.modal-footer {
    //justify-self: center;
    align-self: center;
}

button{
    box-shadow: 0px 1px 5px #27272780;
    margin: 0 5px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    font-family: inherit;
}

.modal-action-button {
    background:#28d;
    color: white;
    &:hover{
        background: darken(#28d,15%);
    }
}

.modal-cancel-button {
    background: white;
    color: black;
    &:hover{
        background: darken(white,15%);
    }
}