<div class="container">
    <div class="sidebar">
        <div class="menu">
            <h1>Info page</h1>
        </div>
    </div>
    <div class="main">
        <div class="main-info">
            <form [formGroup]="SearchForm" (ngSubmit)="onSubmit(SearchForm.value)">
                <div class="column">
                    <div class="field">
                        <div class="password">
                            <div class="field-pass">
                                <input type="text" placeholder="Nickname"
                                    formControlName="nickname">
                            </div>

                            <div class="field-pass">
                                <input type="tel" placeholder="Phone"
                                    formControlName="phone">
                            </div>

                            <div class="field-pass">
                                <input type="email" placeholder="Email"
                                    formControlName="email">
                            </div>
                        </div>
                        
                        <div class="field-btn">
                            <button (click)="resetForm(); submitted = false">Clear</button>
                            <button type="submit" [disabled]="(!nickname.valid && !phone.valid) || (!nickname.valid && !email.valid) || (!phone.valid && !email.valid)">Find</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <div class="table">
                <tbody class="primary-table">
                    <tr class="table-names">
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Nickname</td>
                        <td>Phone</td>
                        <td>Email</td>
                        <td>Action</td>
                    </tr>
                    <tr *ngFor="let user of allUsers">
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button (click)="update(user.uid)">Update</button>
                            <button (click)="delete(user.uid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </div> -->
            <div class="table" *ngIf="searched && !closed">
                <tbody class="primary-table">
                    <tr class="table-names">
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Nickname</td>
                        <td>Phone</td>
                        <td>Email</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>{{ searchedUser.firstName }}</td>
                        <td>{{ searchedUser.lastName }}</td>
                        <td>{{ searchedUser.nickname }}</td>
                        <td>{{ searchedUser.phone }}</td>
                        <td>{{ searchedUser.email }}</td>
                        <td>
                            <button (click)="update(searchedUser.uid)">Update</button>
                            <button (click)="delete(searchedUser.uid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>